@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,200&display=swap');

@media(max-width: 480px) { /*If under 480px do that*/
    .container {
        width: 100vw;
    }

     .panel:nth-of-type(4),.panel:nth-of-type(5) { /*If under 480 the sintex 4 and 5 don't show up */
        display: none;
    }

}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

 body {
    font-family: 'Mulish', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
 }

 .container {
     display: flex;
     width: 90vw;
 }

 .panel {
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     height: 80vh;
     border-radius: 3.125rem;
     color: #fff;
     cursor: pointer;
     flex: 0.5;
     margin: 1rem;
     position: relative;
     transition: flex 0.7s ease-in;
 }

 .panel h2 {
     font-size: 1.5rem;
     position: absolute;
     bottom: 1.25rem; 
     left: 1.25rem;
     margin: 0;
     opacity: 0;
 }

 .panel.active {
     flex: 5;
 }

 .panel.active h2 {
     opacity: 1;
 }

 